*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    grid-area: nav;
    background-color: #00579c;
    color: white;
}

.filters {
    grid-area: filters;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #e2e2e2;
}

.products {
    grid-area: products;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1rem; 
}

.grid-container {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9% 12% 68% 11%;
    grid-template-areas:
        "nav"
        "filters"
        "products"
        "footer";
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
}

.select {
    border: solid thin #D8DCE1;
    border-radius: 4px;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.75rem;
    background-color: white;
}

.product-gallery {
    width: 100%;
    height: auto;
    background-color: white;
    overflow-y: scroll;
    display: grid;
    gap: 1.5rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    background-color: white;
    border: thin solid #f0f0f0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0.5px rgba(0, 0, 0, 0.15);
}

.product-image {
    height: 100%;
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.product-name {
    padding: 1rem 0rem;
}

.product-CTA-button {
    border: none;
    border-radius: 4px;
    background-color:#00579C;
    color: white;
    width: fit-content;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    
}

.product-pagination {
    width: 100%;
    height: auto;
    background-color: white;
    color: #E6E8EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-style: solid none solid solid;
    border-width: thin;
}

.product-pagination-button:first-of-type {
    border-radius: 4px 0 0 4px;
}

.product-pagination-button:last-of-type {
    border-radius: 0 4px 4px 0;
    border-right: solid;
    border-width: thin;
}

.button-label {
    color: #1C71FD;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #012f6b;
    color: white;
    padding: 1rem;
}

.social-list {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding-top: 0.5rem;
}

.fa-instagram {
    padding-top: 10px;
    font-size: 1.35rem;
}

footer p {
    font-weight: 500;
    letter-spacing: 0.5px;
}
